@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body{
    background-image: linear-gradient(180deg, dodgerblue, #267ADD);
    background-size: 100vw 100vh;
    text-align: center;
    margin: 0;padding: 0;
    color: white;
    font-family: 'Fredoka One', cursive;

}

h1{
    font-size: 92px;
    color: #FAB201;
    font-weight: 900;
    -webkit-text-stroke: 5px white; 
    letter-spacing: 5px;
}
.row{
    display: flex;
}

.box{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    margin:5px;
    box-shadow: rgba(255, 255, 255, 1) 1.95px 1.95px 2.6px;
}

.container{
    width: 330px;
    margin: auto;
}

h2{
    font-weight: 900;
}

@media (max-width:600px){
    h1{
        font-size: 52px;
        -webkit-text-stroke: 2px white;
    }
    h3{
        font-size: 25px;
    }
}